<div>
  <div class="d-flex justify-content-between align-items-center">
    <h2>About Critical Start</h2>
    <div>
      <span>Version: <strong id="about_version">-</strong></span>
      <span class="my-2">|</span>
      <a href="http://www.criticalstart.com/threat-analytics-chrome-plugin/" target="_blank">Extension home</a>
    </div>
  </div>

  <div class="mt-2">
    <p>Critical Start is a security company focused on the prevention, detection, and response to advanced threats. Our goal is to measurably improve the security capabilities of our customers at the lowest cost and least complexity. While focused on security services, we also resell a limited set of security products.</p>

    <p>Critical Start was founded on a few simple concepts:</p>
    <ul>
      <li>Improve security capability (people, process, configuration, and technology).</li>
      <li>Do it at the lowest cost possible (acquisition and ongoing).</li>
      <li>Minimize complexity.</li>
    </ul>
  </div>
</div>