<div>
  <form name="settings">
    <div class="row">

      <div class="col-lg-6">
        <h2 class="mb-3">Configuration File Options</h2>

        <ul class="list-group">
          <li class="list-group-item">
            <div class="form-group mb-0">
              <label
                class="mb-1"
                for="settings_configurationURL"
                >File URL</label>
              <input
                type="text"
                class="form-control"
                name="configurationURL"
                id="settings_configurationURL">
            </div>
          </li>
          <li class="list-group-item">
            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                name="useGroups" 
                id="settings_useGroups">
              <label
                class="form-check-label"
                for="settings_useGroups">
                Enable groups
              </label>
            </div>
          </li>
          <li class="list-group-item">
            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                name="configEncrypted" 
                id="settings_configEncrypted">
              <label
                class="form-check-label"
                for="settings_configEncrypted">
                Encrypted
              </label>
            </div>
          </li>
          <li class="list-group-item">
            <div class="form-group mb-0">
              <label
                class="mb-1"
                for="settings_configEncryptionKey"
                >Encryption Key</label>
              <input
                type="text"
                class="form-control"
                name="configEncryptionKey"
                id="settings_configEncryptionKey">
            </div>
          </li>
          <li class="list-group-item">
            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                name="autoUpdateConfig" 
                id="settings_autoUpdateConfig">
              <label
                class="form-check-label"
                for="settings_autoUpdateConfig">
                Refresh Automatically
              </label>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div>
              <label class="mb-1">Last Refreshed on:</label>
              <div id="settings_lastConfigUpdate"></div>
            </div>
            <div>
              <button
                type="button"
                class="btn btn-success btn-sm p-1"
                id="settings_refreshNow">Refresh Now</button>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-lg-6">
        <h2 class="mb-3">Search Results Options</h2>

        <ul class="list-group">
          <li class="list-group-item">
            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                name="resultsInBackgroundTab" 
                id="settings_resultsInBackgroundTab">
              <label
                class="form-check-label"
                for="settings_resultsInBackgroundTab">
                Open results in a background tab
              </label>
            </div>
          </li>
          <li class="list-group-item">
            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                name="enableAdjacentTabs" 
                id="settings_enableAdjacentTabs">
              <label
                class="form-check-label"
                for="settings_enableAdjacentTabs">
                The new tab should be next to the current tab
              </label>
            </div>
          </li>
          <li class="list-group-item">
            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                name="openGroupsInNewWindow" 
                id="settings_openGroupsInNewWindow">
              <label
                class="form-check-label"
                for="settings_openGroupsInNewWindow">
                Open group tabs in new window
              </label>
            </div>
          </li>
          <li class="list-group-item">
            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                name="enableOptionsMenuItem" 
                id="settings_enableOptionsMenuItem">
              <label
                class="form-check-label"
                for="settings_enableOptionsMenuItem">
                Show link to extension options at the end of context menu
              </label>
            </div>
          </li>
        </ul>
      </div>

    </div>
  </form>

  <form name="import_settings">
    <h2 class="text-center mt-3">Export/Import Search Options</h2>

    <p>Use the text area bellow to transfer your search engine options from one install of Chrome to another effortlessly. Just copy the string from here to the options page in other install of Chrome (or vice-versa) and press 'Import'.</p>

    <textarea id="settings_json" class="form-control text-monospace text-small" rows="12"></textarea>
    <div class="text-right">
      <button class="btn btn-success" type="button" id="settings_saveImport">Import</button>        
    </div>
  </form>
</div>
