<div>
  <form name="settings">
    <div class="row">
      <div class="col-lg-6">
        <h2 class="mb-3">Configuration File Options</h2>

        <ul class="list-group">
          <li class="list-group-item">
            <div class="form-group mb-0">
              <label class="mb-1" for="settings_configurationURL"
                >File URL</label
              >
              <input
                type="text"
                class="form-control"
                name="configurationURL"
                id="settings_configurationURL"
              />
            </div>
          </li>
          <li class="list-group-item">
            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                name="useGroups"
                id="settings_useGroups"
              />
              <label class="form-check-label" for="settings_useGroups">
                Enable groups
              </label>
            </div>
          </li>
          <li class="list-group-item">
            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                name="configEncrypted"
                id="settings_configEncrypted"
              />
              <label class="form-check-label" for="settings_configEncrypted">
                Encrypted
              </label>
            </div>
          </li>
          <li class="list-group-item">
            <div class="form-group mb-0">
              <label class="mb-1" for="settings_configEncryptionKey"
                >Encryption Key</label
              >
              <input
                type="text"
                class="form-control"
                name="configEncryptionKey"
                id="settings_configEncryptionKey"
              />
            </div>
          </li>
          <li class="list-group-item">
            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                name="autoUpdateConfig"
                id="settings_autoUpdateConfig"
              />
              <label class="form-check-label" for="settings_autoUpdateConfig">
                Refresh Automatically
              </label>
            </div>
          </li>
          <li
            class="
              list-group-item
              d-flex
              justify-content-between
              align-items-center
            "
          >
            <div>
              <label class="mb-1">Last Refreshed on:</label>
              <div id="settings_lastConfigUpdate"></div>
              <div
                class="text-danger"
                id="settings_lastConfigUpdateError"
              ></div>
            </div>
            <div>
              <button
                type="button"
                class="btn btn-success btn-sm p-1"
                id="settings_refreshNow"
              >
                Refresh Now
              </button>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-lg-6">
        <h2 class="mb-3">Search Results Options</h2>

        <ul class="list-group">
          <li class="list-group-item">
            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                name="resultsInBackgroundTab"
                id="settings_resultsInBackgroundTab"
              />
              <label
                class="form-check-label"
                for="settings_resultsInBackgroundTab"
              >
                Open results in a background tab
              </label>
            </div>
          </li>
          <li class="list-group-item">
            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                name="enableAdjacentTabs"
                id="settings_enableAdjacentTabs"
              />
              <label class="form-check-label" for="settings_enableAdjacentTabs">
                The new tab should be next to the current tab
              </label>
            </div>
          </li>
          <li class="list-group-item">
            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                name="openGroupsInNewWindow"
                id="settings_openGroupsInNewWindow"
              />
              <label
                class="form-check-label"
                for="settings_openGroupsInNewWindow"
              >
                Open group tabs in new window
              </label>
            </div>
          </li>
          <li class="list-group-item">
            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                name="enableOptionsMenuItem"
                id="settings_enableOptionsMenuItem"
              />
              <label
                class="form-check-label"
                for="settings_enableOptionsMenuItem"
              >
                Show link to extension options at the end of context menu
              </label>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </form>

  <h2 class="text-center mt-3">Export/Import Search Options</h2>

  <p>
    Use Import and Export to share settings using a file. Otherwise, click Edit
    to modify the settings manually. This requires knowing JSON formatting well.
    We also recommend exporting a copy of your settings prior to doing this.
  </p>

  <div class="d-flex justify-content-end">
    <input class="d-none" id="settings_fileInput" , type="file" />
    <button type="button" class="btn btn-success mr-2" id="settings_import">
      <i class="fas fa-file-import mr-1"> </i> Import
    </button>
    <button class="btn btn-success mr-2" type="button" id="settings_export">
      <i class="fas fa-file-export mr-1"></i> Export
    </button>
    <button class="btn btn-success mr-2" type="button" id="settings_edit">
      <i class="fas fa-edit mr-1"></i> Edit manually
    </button>
  </div>

  <div
    class="modal fade"
    id="settings_editModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="settingsEditModal"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit Changes</h5>
          <button
            type="button"
            class="close"
            id="settings_closeModal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <textarea
            id="settings_json"
            class="form-control text-monospace text-small"
            rows="24"
          >
          </textarea>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            id="settings_discardChanges"
          >
            Discard
          </button>
          <button
            type="button"
            class="btn btn-success mr-2"
            id="settings_saveChanges"
          >
            Save changes
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
