<div>
  <form name="settings">
    <div class="row">
      <div class="col-lg-6">
        <div>
          <h2 class="mb-3">Configuration File Options</h2>
          <ul class="list-group">
            <div id="config">Loading...</div>
            <li class="list-group-item d-flex">
              <div class="flex-1">
                <label class="mb-1">Last Updated on:</label>
                <div id="settings_lastConfigUpdate"></div>
                <div
                  class="text-danger"
                  id="settings_lastConfigUpdateError"
                ></div>
              </div>
              <div>
                <button
                  type="button"
                  class="btn btn-success"
                  id="settings_refreshNow"
                >
                  <i class="fas fa-sync"></i> Update Now
                </button>
              </div>
            </li>
          </ul>
        </div>

        <div class="mt-4">
          <h2 class="mb-3">Search Results Options</h2>
          <div id="search-results"></div>
        </div>
      </div>

      <div class="col-lg-6">
        <h2 class="mb-3">Merge Settings Options</h2>
        <div id="merge-options"></div>
      </div>
    </div>
  </form>

  <script id="template_generic-settings" type="x-tmpl-mustache">
    {{#items}}
      {{!-- The checkbox fields --}}
      {{#isCheckbox}}
        <li class="list-group-item">
          <div class="form-check">
            <input
              type="checkbox"
              class="form-check-input"
              name="{{key}}"
              id="settings_{{key}}"
            />
            <label class="form-check-label" for="settings_{{key}}">
              {{label}}
            </label>
          </div>
        </li>
      {{/isCheckbox}}

      {{!-- The input fields --}}
      {{#isInput}}
        <li class="list-group-item">
          <div class="form-group mb-0">
            <label class="mb-1" for="settings_{{key}}"
              >{{label}}</label
            >
            <input
              type="text"
              class="form-control"
              name="{{key}}"
              id="settings_{{key}}"
            />
          </div>
        </li>
      {{/isInput}}

      {{!-- The dropdown fields --}}
      {{#isDropdown}}
        <li class="list-group-item">
          <span class="dropdown">
            <button class="btn btn-outline-dark dropdown-toggle" type="button" name="{{key}}" id="settings_{{key}}" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{value}}
            </button>
            <div class="dropdown-menu" tabindex="1" aria-labelledby="settings_{{key}}">
              {{#menuItems}}
                <button class="dropdown-item" name="{{key}}" value="{{itemKey}}">{{itemLabel}}</button>
              {{/menuItems}}
            </div>
          </span>
          <label class="form-check-label">
            {{label}}
          </label>
          <a data-placement="right" id="{{key}}" data-toggle="tooltip"><i class="fas fa-info-circle text-info" aria-hidden="true"></i></a>
        </li>
      {{/isDropdown}}
    {{/items}}
  </script>

  <!-- Export/Import Search Options -->
  <div id="importExport"></div>
</div>
